/* Custom Properties */
:root {
  /* Colors */
  --primary-color-400: #df5743;
  --primary-color-500: #ec5242;
  --primary-color-800: #f91002;
  --dark-blue-800: #272a31;
  --gray-400: #f7f7f7;
  --gray-500: #d3d3d3;
  --gray-600: #626060;
  --gray-700: #393939;
  --gray-800: #3e3e3e;
  --white: #fff;
  --off-white: #fdfeff;
  --black: #000;

  /* Fonts */
  --font-lato: 'Lato', sans-serif;

  /* Font Sizes */

  --fs-100: 12px;
  --fs-200: 13px;
  --fs-300: 15px;
  --fs-400: 16px;
  --fs-500: 17px;
  --fs-600: 18px;
  --fs-700: 20px;
  --fs-800: 32px;
  --fs-900: 40px;
  --fs-950: 48px;
}
/* ============================================================ */

/* General Styles */
body {
  font-family: var(--font-lato);
}

.container {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.small-underline {
  position: relative;
  width: max-content;
  margin: 16px auto;
  padding: 12px;
}

.small-underline::before {
  position: absolute;
  content: '';
  display: block;
  width: 32px;
  bottom: 0;
  left: 50%;
  transform: translateX(-16px);
  border-bottom: 2px solid var(--primary-color-500);
}

/* General Styles (Desktop) */
@media (min-width: 768px) {
}
/* ============================================================ */

/* Button Styles */
.primary-btn {
}

.primary-btn:disabled {
}

.primary-btn:hover:enabled {
}

.primary-btn:active:enabled {
}

/* Button Styles (Desktop) */
@media (min-width: 768px) {
  .primary-btn {
  }

  .primary-btn:disabled {
  }

  .primary-btn:hover:enabled {
  }

  .primary-btn:active:enabled {
  }
}
/* ============================================================ */

/* Header Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: fixed;
  padding: 16px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 20;
}

.nav-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  margin: 0;
  padding: 16px;
  padding-top: 64px;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 416px;
  z-index: 20;
  background: linear-gradient(147deg, #242424 10%, transparent 40%, #201f1f 70%),
    url(../assets/images/mobile-nav-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--gray-800);
  color: var(--white);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.nav-bar-wrapper[data-visible='false'] {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms ease-in;
}

.nav-bar-wrapper[data-visible='true'] {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in;
}

.nav-bar__mobile-menu-toggle-button {
  height: 20px;
  z-index: 50;
  transition: transform 100ms ease;
}

.nav-bar__mobile-menu-toggle-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.top-nav {
  order: 3;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 0.0625rem solid var(--gray-600);
  font-size: var(--fs-700);
}

.top-nav__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav__link {
  color: var(--white);
  text-decoration: none;
}

.top-nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.top-nav__social-links {
  display: flex;
  align-items: center;
  order: 2;
  gap: 16px;
  padding-top: 32px;
}

.top-nav__social-link {
  transition: all 100ms ease-in;
}

.top-nav__social-link:hover {
  transform: scale(1.1) rotateZ(-7deg);
}

.main-nav {
  color: var(--white);
  flex-grow: 1;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-nav__logo-wrapper {
  order: 5;
}

.main-nav__logo {
  height: 64px;
  /* margin: 0 auto; */
  margin-top: auto;
}

.main-nav__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs-700);
}

.main-nav__link .active {
  color: var(--primary-color-500);
}

.main-nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* Header Styles (Desktop) */
@media (min-width: 48rem) {
  .nav-bar {
  }

  .nav-bar__mobile-menu-toggle-button {
  }

  .top-nav[data-visible='false'] {
  }

  .top-nav[data-visible='true'] {
  }

  .top-nav__link {
  }

  .main-nav[data-visible='false'] {
  }

  .main-nav[data-visible='true'] {
  }

  .main-nav__logo {
  }

  .main-nav__links-wrapper {
  }

  .main-nav__link {
  }

  .main-nav__link .active {
  }

  .main-nav__link:hover {
  }
}
/* ============================================================ */

/* Hero Section Styles */
.hero {
  background-image: linear-gradient(
      147deg,
      var(--gray-400) 10%,
      transparent 40%,
      var(--gray-400) 70%
    ),
    url('../assets/images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: var(--gray-400);
  text-align: center;
}

.hero__wrapper {
  padding: 160px 24px 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.hero__page-headline {
  font-size: var(--fs-900);
  font-weight: 900;
  color: var(--primary-color-800);
  text-transform: uppercase;
  order: 2;
  line-height: 2.5rem;
}

.hero__tagline {
  color: var(--primary-color-800);
  font-size: var(--fs-700);
  order: 1;
  margin-bottom: -16px;
}

.hero__intro {
  order: 3;
  background-color: var(--white);
  color: var(--gray-700);
  line-height: 1.6rem;
  padding: 16px;
  max-width: 800px;
}

.hero__contact-us {
  order: 4;
  line-height: 1.6rem;
}

.hero__email-addr {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

/* Hero Section Styles (Desktop) */
@media (min-width: 48rem) {
  .hero {
  }

  .hero__page-headline {
  }

  .hero__tagline {
  }

  .hero__intro {
  }

  .hero__contact-us {
  }

  .hero__email-addr {
  }
}
/* ============================================================ */

/* Main Program Section Styles */
.main-program {
  background-color: var(--dark-blue-800);
  background-image: url('../assets/decorative-elements/cross-pattern-1.svg');
  background-size: 3.5vw;
  color: var(--off-white);
  padding: 64px 0;
}

.main-program__headline {
  font-size: var(--fs-700);
  text-align: center;
}

.main-program__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
  margin-top: 32px;
}

.main-program__card {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 0.125rem solid transparent;
  transition: all 300ms ease-in-out;
  background: #3c3f4665;
  width: 95%;
  min-width: 16rem;
  max-width: 28rem;
}

.main-program__card:hover {
  border: 0.125rem solid var(--white);
  transform: scale(1.03);
}

.main-program__card__icon {
  width: 48px;
}

.main_program__card__header {
  color: var(--primary-color-400);
  text-align: left;
  min-width: 5rem;
  max-width: 5rem;
}

.main-program__card__description {
  text-align: left;
}

/* Main Program Section Styles (Desktop) */
@media (min-width: 640px) {
  .main-program {
    background-size: 2vw;
    padding: 80px 32px;
  }

  .main-program__headline {
    margin-bottom: 48px;
  }

  .main-program__cards-wrapper {
    gap: 20px;
  }

  .main-program__card {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 12rem;
    padding: 1rem;
  }

  .main-program__card__icon {
    height: 48px;
    width: auto;
  }

  .main_program__card__header {
    text-align: center;
  }

  .main-program__card__description {
    text-align: center;
  }
}

/* ============================================================ */

/* Speakers Section Styles */
.speakers {
  background-color: var(--gray-400);
  color: var(--gray-700);
  padding: 64px 0;
}

.speakers__headline {
  font-size: var(--fs-700);
  text-align: center;
  margin-bottom: 3rem;
}

.speakers__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.speakers__card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid transparent;
  width: 95%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.speakers__card:hover {
  border: 1px solid var(--primary-color-500);
  box-shadow: 1px 10px 23px 0px rgba(0,0,0,0.1);
  transform: scale(1.03);
}

.speakers__speaker-photo {
  width: 25%;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  position: relative;
  z-index: 2;
}

.speakers__speaker-photo::before {
  content: '';
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  top: -0.75rem;
  left: -0.75rem;
  z-index: -1;
  background-image: url('../assets/decorative-elements/checkboard-dark.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.speakers__card__details {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.speakers_speaker-name {
  font-size: var(--fs-700);
  margin-top: -0.5rem;
}

.speakers__speaker-title {
  color: var(--primary-color-500);
  font-style: italic;
  font-size: var(--fs-200);
}

.speakers__speaker-intro {
  line-height: 1.4rem;
  font-size: var(--fs-300);
}

/* Speakers Section Styles (Tablet) */
@media (min-width: 648px) {
  .speakers__cards-wrapper {
    gap: 0.5rem;
  }

  .speakers__card {
    max-width: 18rem;
  }
}


/* Speakers Section Styles (Desktop) */
@media (min-width: 768px) {
  .speakers {
  }

  .speakers__headline {
  }

  .speakers__cards-wrapper {
    gap: 1rem;
  }

  .speakers__card {
    max-width: 21rem;
  }

  .speakers__speaker-photo {
  }

  .speakers__speaker-photo::before {  
    background-image: url('../assets/decorative-elements/checkboard-light.svg');
  }

  .speakers_speaker-name {
  }

  .speakers__speaker-title {
  }

  .speakers__speaker-intro {
  }
}
